html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: inherit;
  width: inherit;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}